<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= form_for @contact do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :comments %>
          <%= f.text_area :comments, class: 'form-control' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-default' %>
        <div class="social">
  <a href="https://www.facebook.com/devmatch" class="link facebook" target="_parent"><span class="fa fa-facebook-square"></span></a>
  <a href="" class="link twitter" target="_parent"><span class="fa fa-twitter"></span></a>
  <a href="" class="link google-plus" target="_parent"><span class="fa fa-google-plus-square"></span></a>
        </div>
      <% end %>
    </div>
  </div>
</div>